@tailwind base;
@tailwind components;
@tailwind utilities;

/* Additional base styles */
body {
  @apply bg-zinc-950 text-white antialiased;
}

/* Hide scrollbar for Chrome, Safari and Opera */
::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
html, body {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

/* Hardware Acceleration for GSAP */
.hardware-accelerate {
  will-change: transform, opacity;
  transform: translateZ(0);
  backface-visibility: hidden;
}
